datasets/AVSpeech/*.csv
datasets/AVSpeech/train/
datasets/AVSpeech/test/
datasets/AudioSet/train/
datasets/AudioSet/test/
datasets/AudioSet/*.csv
**/.DS_Store
__pycache__/
*.pyc
tests.ipynb
.ipynb_checkpoints/*
*.pt
*.npy
